.root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.name {
  font-size: 25px;
  /* transition: color 1s ease-in-out;
  color: black; */
  cursor: pointer;
  margin-bottom: 15px;
  background-color: white;
}

.buttons {
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out;
  position: relative;
  top: 0;
  opacity: 1;
  z-index: -1;
}

.invisible {
  opacity: 0;
  top: -35px;
}
