.root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 25px;
  transition: color 1s ease-in-out;
  color: black;
}

.name:hover {
  cursor: default;
  color: LightSlateGray;
}
